<div class="header">

  <img width=250px; height=500px; src="../Ressources/cat1.JPG">
    
  <div class="header-center">
    <div class="header-top">
    <h6 class="text-yellow"> L'uni vous lasse et le lisse vous ennuie. Tant mieux ! </h6>
    <h1 class="text-yellow"> Decors peints et trompe l'oeil </h1>
    <h4 class="text-yellow">Alliée de l'huile pour un grand nombre de décors composés avec soin, Cathie Forestier crée une ambiance personnalisée qui unit charme et caractère. Un large éventail de peintures décoratives comme le trompe l'oeil, le faux marbre et le faux bois, les décors muraux, les portraits, les lettrages au pinceau, les patines, les stucs, les peintures et les enduits de finition aux multiples effets sont applicable sur tous supports.</h5>
    </div>

<ul id="menu-gc">
	<li><a href="http://localhost:8080/Accueil">Accueil</a> </li>
	<li><a href="http://localhost:8080/Presentation">Presentation</a> </li>
	<li><a href="http://localhost:8080/Travaux">Travaux</a>
		<ul>
			<li><a href="http://localhost:8080/Travaux?categorie=travaux exterieur">Travaux Exterieur </a></li>
			<li><a href="http://localhost:8080/Travaux?categorie=travaux interieur">Travaux Interieur </a></li>
			<li><a href="http://localhost:8080/Travaux?categorie=tableaux">Tableaux </a></li>
			<li><a href="http://localhost:8080/Travaux?categorie=Divers">Divers </a></li>
		</ul>
	</li>
	<li><a href="http://localhost:8080/Contact">Contact</a></li>


  </div>


</div>

<script>

</script>
